.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.inline-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.center {
  margin: auto 5px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.inline {
  display: inline-grid;
}

.container-sort {
  display: flex;
  flex-direction: column;
}

.sort-btn {
  padding: 0 5x;
}

.label {
  background-color: rgb(139, 129, 139);
  color: white;
  margin-right: 5px;
  padding: 5px;
  border-radius: 10px;
}

.txt-align-left {
  text-align: left;
}

.author-img {
  width: 50px;
}

.pr-list {
  margin: auto 350px;
}

.pr-item {
  background-color: #d3d3d336;
  padding: 5px;
  margin: 15px auto;
  border-bottom: 1px solid #ddd;
}